@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

@layer components {
    *{
        @apply p-0 m-0 box-border;
    }
    .flex-center{
        @apply flex items-center justify-between;
    }
    .flex-column{
        @apply flex flex-col justify-center items-center;
    }
    .nav-rounded{
        @apply p-3 px-8 rounded-full bg-white;
    }
    .heading-large{
        @apply font-bold text-6xl;
    }
    .app-btn{
        @apply bg-p-green rounded-lg flex-center justify-center h-[3.3rem] px-5 font-semibold text-base;
    }
    .app-download-btn{
        @apply flex-center justify-center space-x-3 text-white py-10;
    }
    .header-outer{
        @apply flex-column pt-11 h-screen justify-start relative bg-[url("../../public/Images/header-road.png")] bg-bottom bg-no-repeat bg-contain;
    }
    .btn-active{
        @apply nav-rounded bg-p-orange w-32 absolute top-[50%] translate-y-[-50%] left-1 h-[85%] z-0 transition-all delay-75 ease-in-out;
    }
    .app-icon-holder{
        @apply bg-p-green w-12 h-12 p-4 nav-rounded flex-center justify-center;
    }
    .network-box-outer{
        @apply w-full border-4 rounded-2xl p-0 block m-0 overflow-hidden;
    }
    .network-box-inner{
        @apply block text-left space-y-3 px-5 py-6;
    }
    .network-box-header{
        @apply text-3xl font-bold pt-2;
    }
    .network-box-text{
        @apply text-base font-normal;
    }
    .network-more{
        @apply  text-base font-bold flex-center justify-start tracking-wider pt-4;
    }
    .network-image{
        @apply !min-w-full relative -bottom-2;
    }


    .animate-section{
        @apply bg-p-green w-full relative h-auto bg-[url("../../public/Images/grass.svg")] bg-bottom bg-no-repeat bg-contain;
    }
    .animating-outer{
        @apply bg-[#038B5C] w-[90%] absolute left-[50%] -top-16 translate-x-[-50%] rounded-2xl;
    }
    .animate-icon{
        @apply flex-center justify-center h-12 w-12  rounded-full;
    }
    .animate-icon-text{
        @apply font-medium text-lg;
    }
    .animate-circle{
        @apply relative h-14 w-14 rounded-full flex-center justify-center ;
    }
    .animate-pos{
        @apply w-14 h-full rounded-full flex-center justify-center;
    }
    


    .slider-thin{
        @apply absolute top-5 left-0 h-full flex-center justify-start gap-x-6 animate-line text-[#ffffffe7] ;
    }
    .slider-thin-inner{
        @apply flex-center min-w-fit bg-[#256353] py-[10px] px-[24px] rounded-lg border-[.1px] border-[#ffffff3b] space-x-3 font-medium text-lg;
    }
    .slider-thin::-webkit-scrollbar, .twitter-testi-outer::-webkit-scrollbar  {
        @apply hidden;
    }


    .location-inner{
        @apply w-[90%] mx-auto border-4 rounded-2xl overflow-hidden;
    }
    .map-list-inner::-webkit-scrollbar, .questions::-webkit-scrollbar {
        @apply rounded-xl bg-[#F1F1F1] w-5 ;
    }
    .questions::-webkit-scrollbar{
        @apply w-6;
    }
    .map-list-inner::-webkit-scrollbar-thumb, .questions::-webkit-scrollbar-thumb{
        @apply bg-white rounded-xl ;
    }
    .map{
        @apply bg-[url("../../public/Images/Map.svg")] bg-cover w-[65%] h-full bg-no-repeat;
    }
    .map-right-top{
        @apply absolute top-0 bg-s-blue w-full p-4 left-0 flex-center justify-start space-x-2 border-b-4;
    }
    .location-holder{
        @apply flex-center py-4 px-3 border-[#00000018] border-[0.1px] rounded-md font-normal text-lg uppercase;
    }
    .location-cart{
        @apply bg-[#F2FCF9] h-10 w-10 p-0 rounded-full flex-center justify-center;
    }
    .street-header-fit{
        @apply mx-auto text-center w-fit p-3 rounded-md flex-center justify-center font-bold;
    }
    .community{
        @apply bg-[#1DA1F2] p-3 px-5 text-base text-white font-semibold;
    }


    .twitter-box-outer{
        @apply p-4 pb-6 min-w-[20rem] max-w-[20rem] bg-[#F9FAFB] border border-[#D9D9D9] rounded-2xl space-y-4;
    }




    .faq{
        @apply w-full absolute -top-20 p-10 bg-white border-4 rounded-2xl;
    }
    .faq-inner{
        @apply  w-full flex-center justify-start items-stretch gap-x-6;
    }
    .faq-head{
        @apply text-p-green text-6xl font-bold pb-10;
    }
    .questions-right{
        @apply  h-full w-full bg-p-orange rounded-2xl p-8 pt-10 py-14 text-2xl leading-relaxed font-normal;
    }
    .question-holder{
        @apply text-lg font-bold flex-center text-p-green bg-[#FAFCFB] p-5 border rounded-md border-[#93d0ae4f];
    }
    





    .footer-link-outer{
        @apply py-10 px-4 w-[28%];
    }

    .footer-link-head{
        @apply text-base font-bold pb-7 text-[#ffffff62];
    }
    .footer-links{
        @apply flex flex-col text-white space-y-5 font-medium text-lg ;
    }
    .social-top{
        @apply text-white font-bold flex-center  text-lg w-full border-b text-center border-[#ffffff28];
    }
    .social-top-icons{
        @apply w-3/6 flex-center justify-center gap-x-2;
    }
    *:-webkit-tap-highlight-color{
       @apply bg-[transparent];
    } 
}
.map-list-inner::-webkit-scrollbar-thumb, .questions::-webkit-scrollbar-thumb {
    border:3.5px solid #F1F1F1;
}
.animate-line{
    animation: animateLine 15s linear infinite;
}

@keyframes animateLine {
    0% {
        left: 0;
    }
    100% {
        left: -62%;
    }

}